{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}
{% if is_node == 1 %}
  {% if (is_restricted and is_authorized) or (not is_restricted) %}
    <article{{ attributes }}>
      {{ title_suffix.contextual_links }}
      {% if content %}
        {{ content }}
      {% endif %}
    </article>
  {% else %}
    <div class="text-gray-600">
      Access to this media is restricted.
    </div>
  {% endif %}
{% elseif is_taxonomy %}
  {{ content }}
{% else %}
  <div
    class="layout-container bg-gray-200"
  >
    <div class="p-4">
      <div class="container mx-auto bg-white shadow">
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-xl font-bold leading-6 line-clamp-1">
            {{ name }}
          </h3>
        </div>
        <div class="px-4 py-5 sm:p-6 h-auto">
          {% if (is_restricted and is_authorized) or (not is_restricted) %}
            <article{{ attributes }}>
              {{ title_suffix.contextual_links }}
              {% if content %}
                {{ content }}
              {% endif %}
            </article>
          {% else %}
            <div class="text-gray-600">
              Access to this media is restricted.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

