{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% for key in attributes|keys %}
  {{ key }}: {{ attributes[key] }}
{% endfor %}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="breadcrumb" aria-label="breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {# If last item in breadcrumb then add active #}
      <li class="breadcrumb-item{% if loop.last %} is-active{% endif %}" {% if loop.last %}aria-current="page"{% endif %}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
